language: c

notifications:
  email: false
  
sudo: required
dist: trusty
osx_image: xcode12.2

os:
  - linux
  - osx

branches:
  only:
    - master

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - cmake
    # - libwebp-dev
    #- libpng12-dev
    #- libjpeg8-dev
    #- libtiff5-dev
    #- libgif-dev
    #- libopenjp2-7-dev
    update: true
  homebrew:
    packages:
    - webp
    - openjpeg
    update: true


before_install:
  - if [[ $TRAVIS_OS_NAME == linux   ]]; then LINUX=true; fi
  - if [[ $TRAVIS_OS_NAME == osx     ]]; then OSX=true; fi
  
install:
  - if [[ $LINUX ]]; then sudo apt-get update; fi
  - if [[ $LINUX ]]; then sudo apt-get install -y libpng12-dev libjpeg8-dev libtiff5-dev libopenjpeg-dev; fi
  #- if [[ $LINUX ]]; then sudo apt-get install -y libwebp-dev libpng12-dev libjpeg8-dev libtiff5-dev libgif-dev libopenjpeg-dev; fi
  # install giflib5
  - if [[ $LINUX ]]; then wget https://sourceforge.net/projects/giflib/files/giflib-5.2.1.tar.gz; fi
  - if [[ $LINUX ]]; then tar -xf giflib-5.2.1.tar.gz; fi
  - if [[ $LINUX ]]; then cd giflib-5.2.1; fi
  - if [[ $LINUX ]]; then make && sudo make install; fi
  - if [[ $LINUX ]]; then cd -; fi
  - if [[ $LINUX ]]; then wget https://github.com/webmproject/libwebp/archive/v1.0.2.tar.gz; fi
  - if [[ $LINUX ]]; then tar -xf v1.0.2.tar.gz; fi
  - if [[ $LINUX ]]; then cd libwebp-1.0.2; fi
  - if [[ $LINUX ]]; then ./autogen.sh; fi
  - if [[ $LINUX ]]; then ./configure --enable-libwebpmux --enable-libwebpdecoder && make && sudo make install; fi
  - if [[ $LINUX ]]; then cd -; fi
  #- if [[ $LINUX ]]; then wget https://www.cmake.org/files/v3.6/cmake-3.6.1-Linux-x86_64.sh; fi
  #- if [[ $LINUX ]]; then sudo sh cmake-3.6.1-Linux-x86_64.sh --skip-license --prefix=/usr; fi

script:
  - mkdir build
  - cd build
  - cmake .. -DBUILD_PROG=1
  - make
